.container-2 {
  background-image: url("../../assets/portfolio/fylo/image-fylo-hero.jpg");
  height: 500px;
  width: 1110px;

  margin-bottom: 115px;
}

.item-3 {
  background-image: url("../../assets/portfolio/fylo/image-fylo-preview-1.jpg");
  height: 400px;

  margin-bottom: 32px;
}

.item-4 {
  background-image: url("../../assets/portfolio/fylo/image-fylo-preview-2.jpg");
  height: 400px;
}
